.container {
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 15px 50px;
}

.text-center {
  text-align: center;
  color: #008080;
}
.current-balance {
  background-color: 	#008080;
}
#balance {
  background-color: goldenrod;
  color: #efefef;
}

.expense-container {
  display: flex;
  justify-content: space-around;
  background-color: 	#008080;
  color: #efefef;
}

.transaction-form {
  width: 100%;
  margin: 10px 0;
}

.transaction-list {
  margin: 0;
}
.transaction-list > li {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  margin: 10px 5px;
  background-color: white;
}

.transaction-form input {
  /* width: 100; */
  margin: 10px 0;
  padding: 5px 0;
}
.btn {
  background-color: #008080;
  width: 200px;
  min-height: 20px;
  align-items: center;
}

.body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato",sans-serif;
}